<div class="border-bottom row" style = "margin-bottom:16px;  padding-bottom:8px;">
  <!-- added row in class above to add columns in bootstrap. two collumns, one is 9 and other is 3; column sum has to be 12-->
  <div class="col-9">
    <h4 style = "margin-bottom:8px;">
      {{animal['animal']}}
    </h4>
    <div><b>Diet:</b> {{animal['diet']}}</div>
  
    {% if 'habitat' in animal%} 
    <div><b>Habitat:</b> {{animal['habitat']}}</div>
    {% else %}
    <div><b>Habitat:</b> Unknown</div>
    {% endif %}
  </div>
  <div class="col-3">   
    
    <!-- removing the button for now and replacing with an anchor which will open and email with preset email id and text
    
    <button type="button" class = "btn btn-outline-primary">Add fact</button>

    -->
    <a href="mailto:kairav@prathaminternational.org?subject=Add a new fact for {{animal['name']}}" type="button" class = "btn btn-outline-primary">Add fact</a>

  <!-- for automatic mail generation code, there is a tool called mailtolink.me -->
  </div>
</div>