<!DOCTYPE html>
<html>
  <head>
    <title>
      <!-- tab details and even define colours, etc for common elements-->
      First Site
    </title>
    <!-- here for example i am styling all h1, one can also give id to html elements in body and call the formating for the emements using the id-->
    <style>
      h1{
        font-size: 40px;
        font-weight: normal;
        text-align: center;
      }
      #banner{
        width: 100%;
      }
      #container{
        max-width: 800px;
        margin: 0 auto 0 auto;
      }
    </style>
  </head>
  <body>
    <!-- info on the site -->
    <div id ="container">
    <h1>
      First Website
    </h1>
    <!-- use unsplash.com for images-->
    <img id = "banner" src ="static/banner.jpeg" height=300 width=300 />
    <h2>Animals</h2>
    <p>Animal names to be added</p>
    <div style = "text-align: center;">
      <button>add your fav animal name</button>
    </div>
    </div>
  </body>
</html>